// Add your own CSS here!

:root {
  --light: #faf8f8;
  --dark: #141021;
  --secondary: #284b63;
  --tertiary: #84a59d;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
}

[saved-theme="dark"] {
  --light: #1e1e21 !important;
  --dark: #fbfffe !important;
  --secondary: #6b879a !important;
  --visited: #4a575e !important;
  --tertiary: #84a59d !important;
  --primary: #f58382 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
}

s, .cm-s-obsidian span.cm-formatting-highlight, .cm-s-obsidian span.cm-highlight {
background: rgb(175, 175, 175);
color: transparent;
border-radius: 3px;
padding-left: 7px;
padding-right: 7px;
padding-top: 2px;
padding-bottom: 2px;
text-decoration: none;
transition-property: background, color;
transition-duration: 5s;
transition-timing-function: ease-out;
transition-delay: 10s;
font-weight: bold
}

s, .cm-s-obsidian span.cm-formatting-highlight:hover, .cm-s-obsidian span.cm-highlight:hover {
background: #FFF09B;
color: #3B4252;
cursor: none;
transition-property: color;
transition-duration: 0.1s;
transition-timing-function: ease-out;
transition-delay: 0.1s;
font-weight: bold
}

s, .cm-s-obsidian span.cm-formatting-highlight:active, .cm-s-obsidian span.cm-highlight:active {
cursor: auto;
}
